.hb-front-hero {
  position: relative;
  background-image: url(../img/hero.webp);
  background-size: cover;
  width: 100%;
  overflow: hidden;

  @media (max-width: @mobile) {
    background-image: none;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../img/clouds1.webp);
    //background-position: top -200px left -400px;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    //opacity: 0.85;

    @media (min-width: @mobile) {
      animation: hero-appear 0.7s linear;
      svg {
        display: none;
      }
    }
    @media (max-width: @mobile) {
      background-color: var(--hb-color-light);
      opacity: 0.3;
      background-image: none;

      svg {
        height: 100%;
        //width: 100%;
        display: block;
        object-fit: cover;
      }
    }
  }

  .hb-container {
    padding-top: 120px;
    padding-bottom: 0px;
    position: relative;
    z-index: 2;

    @media (max-width: @mobile) {
      padding-top: 70px;
    }
  }

  &__heading {

    @media (min-width: @mobile) {
      background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      display: table;
      border-top: 2px solid var(--hb-color1);
      border-bottom: 2px solid var(--hb-color1);
      padding-block: 10px;
    }

    span {
      font-size: 21px;
      color: var(--hb-color1-alter);
      @media (max-width: @mobile) {
        font-size: 15px;
      }
    }

    strong {
      font-size: 80px;
      letter-spacing: 5px;
      background: -webkit-linear-gradient(#503d5d, #315c6d);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (max-width: @mobile) {
        letter-spacing: 1px;
        font-size: 60px;
      }
    }

    @media (max-width: @mobile) {
      border-bottom: 5px solid var(--hb-color1);
      padding-bottom: 25px;
    }
  }

  &__service-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-block: 50px;
    z-index: 2;
    position: relative;

    @media (max-width: @mobile) {
      justify-content: center;
      padding-block: 25px;
    }
  }

  &__box {
    font-size: 14px;
    color: var(--hb-color2);
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    //background-color: rgba(#000, 0.75);
    background-color: hsla(187, 79%, 20%, 0.80);
    //background-color: rgba(#315c6d, 0.80);
    width: 100%;
    max-width: 150px;

    @media (max-width: @mobile) {
      flex: 1 1 150px;
      max-width: unset;
    }
  }

  &__icon svg {
    min-height: 40px;
    min-width: 40px;
    object-fit: contain;
    display: table;
    margin-inline: auto;

    @media (max-width: @mobile) {
      min-height: 30px;
      min-width: 30px;
    }
  }

  &__text {
    margin-bottom: 0;
    font-weight: bold;
    color: var(--hb-color-light);
  }

  &__person-wrapper {
    position: absolute;
    bottom: 0;
    right: 12px;
    display: table;
    margin-left: auto;

    @media (max-width: @mobile) {
      display: none;
    }

    &::before {
      content: '';
      width: 180px;
      height: 115%;
      position: absolute;
      display: block;
      bottom: 0;
      right: -6px;
      border-right: 5px solid var(--hb-color2);
      border-top: 5px solid var(--hb-color2);
      border-left: 5px solid var(--hb-color2);
    }
  }

  &__person {
    width: 100%;
    max-width: 350px;
    display: table;
  }
}

.hb-front-short-services {
  width: 100%;
  overflow: hidden;

  &__holder {
    display: flex;
    justify-content: space-between;

    @media (max-width: @short-services-breakpoint) {
      flex-wrap: wrap;
    }
  }

  &__item {
    color: var(--hb-color-light);
    padding: 25px;
    box-sizing: border-box;
    flex: 1 1 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
    position: relative;

    @media (max-width: @short-services-breakpoint) {
      flex: 1 1 100%;
    }

    &:nth-child(1) {
      padding-right: 0;
      padding-left: 0;

      &::before {
        content: '';
        width: 100vw;
        height: 100%;
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        background: linear-gradient(to right, #07414d 0%, #05313a 100%);
        z-index: -1;

        @media (max-width: @short-services-breakpoint) {
          width: 200vw;
          transform: translateX(50%);
        }
      }
    }

    &:nth-child(2) {
      padding-right: 0;

      &::before {
        content: '';
        width: 100vw;
        height: 100%;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        background: linear-gradient(to right, #144d5e 0%, #172c4b 100%);
        z-index: -1;

        @media (max-width: @short-services-breakpoint) {
          width: 200vw;
          transform: translateX(-50%);
        }
      }

      @media (max-width: @short-services-breakpoint) {
        padding-left: 0;
      }
    }
  }

  &__content {
  }

  &__heading {
    span {
      font-weight: normal;
      font-size: 16px;
    }

    strong {
      font-size: 18px;
      letter-spacing: 1px;
      color: var(--hb-color2);
    }
  }

  &__description {
  }

  &__image {
    display: table;
    max-height: 150px;
    object-fit: contain;
  }
}

.hb-services-list {

  .hb-container {
    padding-block: 25px;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    align-content: flex-start;
    margin-bottom: 25px;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0 1 auto;
    margin: 0;

    span {
      font-weight: normal;
      font-size: 16.5px;
    }

    strong {
      color: var(--hb-color1);
    }
  }

  &__description {
    flex: 0 1 700px;
    margin: 0;
  }

  &__holder {
    display: grid;
    grid-template-columns: 300px 250px 430px;
    gap: 20px;
    font-size: 14px;

    @media (max-width: @services-list-breakpoint) {
      grid-template-columns: 1fr;
      gap: 0;
      margin-inline: -20px;
    }
  }

  &__item {
    min-height: 150px;
    position: relative;
    color: var(--hb-color-light);

    @media (max-width: @services-list-breakpoint) {
      min-height: unset;
      border-bottom: 2px solid var(--hb-color2);
    }

    &:hover {
      color: var(--hb-color1-alter);

      .hb-services-list__overlay::before {
        background-color: hsla(46, 98%, 48%, 0.9);
      }

      .hb-services-list__title strong {
        color: var(--hb-color1-alter);
      }

      .hb-cta {
        border-color: var(--hb-color1-alter);
        background-color: var(--hb-color1-alter);
        color: var(--hb-color-light);
      }
    }

    @media (min-width: @services-list-breakpoint) {
      &:nth-child(1) {
        grid-row-start: span 2;
      }

      &:nth-child(5) {
        grid-row-start: span 2;
      }
    }

  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      background-color: hsla(187, 79%, 20%, 0.8);
      transition: var(--transition);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    p {
      line-height: 120%;
    }
  }

  &__start {
  }

  &__end {
    margin-top: auto;
  }

  .hb-cta:hover {
    transform: translateY(var(--hb-translateY));
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    gap: 5px;

    span {
      font-weight: normal;
      font-size: 15px;
    }

    strong {
      font-size: 18px;
      color: var(--hb-color2);
    }
  }
}

.hb-promo {
  width: 100%;
  overflow: hidden;

  @media (min-width: @promo-breakpoint) {
    padding-block: 50px;
  }

  &__holder {
    display: flex;
    flex-wrap: wrap;
    color: var(--hb-color-light);
    position: relative;
  }

  &__left, &__right {
    box-sizing: border-box;
    flex: 0 1 50%;
    padding: 25px;
    position: relative;

    @media (max-width: @promo-breakpoint) {
      flex: 1 1 100%;
      padding-inline: 0;

      &::before {
        left: 0;
        right: unset;
        transform: translateX(-50%);
      }
    }
  }

  &__left {
    &::before {
      content: '';
      width: 200vw;
      height: 100%;
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      background-color: var(--hb-color1);
      z-index: -1;
    }
  }

  &__right {
    //padding-left: 80px;
    @media (min-width: @promo-breakpoint) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media (max-width: @promo-breakpoint) {
      padding-right: 117px;
    }

    &::before {
      content: '';
      width: 200vw;
      height: 100%;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      background-color: var(--hb-color2);
      z-index: -1;
    }

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 15px;
      font-size: 20px;
      //display: flex;
      //align-items: center;

      @media (max-width: @promo-breakpoint) {
        list-style-position: inside;
      }

      li {
        &::marker {
          content: '\2713   ';
        }
      }
    }


  }

  &__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: table;

    @media (max-width: @promo-breakpoint) {
      left: 100%;
      transform: translateX(-100%);
    }
  }

  .hb-cta {

  }
}

.hb-container {
}

.hb-cta {

  &_v2 {
  }
}


